/* ------------ custom ------------ */

.ease-circ {
  transition-timing-function: cubic-bezier(0.85, 0, 0.15, 1);
}

.ease-expo {
  transition-timing-function: cubic-bezier(0.87, 0, 0.13, 1);
}

.gradient-blur {
  mask: linear-gradient(black, transparent);
  backdrop-filter: blur(24px);
}

/* ------------ tailwind ------------ */

@tailwind base;
@tailwind components;
@tailwind utilities;

/* ------------ global ------------ */

h1 {
  font-size: 1.5rem;
  width: 100%;
  font-weight: bold;
  margin-bottom: 1rem;
}

/* ------------ effects ------------ */

.noisy {
  filter: brightness(2) contrast(2);
  position: absolute;
  top: -50%;
  left: -50%;
  right: -50%;
  bottom: -50%;
  width: 400%;
  height: 400vh;
  background: transparent url('assets/images/noise.png') repeat 0 0;
  background-size: 12%;
  background-repeat: repeat;
  animation: 1000ms infinite noise ease-out;
  pointer-events: none;
  opacity: 1;
}

/* ------------ animations ------------ */

@keyframes noise {
  0%,
  100% {
    background-position: 0 0;
  }
  10% {
    background-position: -10% -20%;
  }
  20% {
    background-position: -30% 10%;
  }
  30% {
    background-position: 14% -50%;
  }
  40% {
    background-position: 40% 100%;
  }
  50% {
    background-position: -50% 20%;
    opacity: 0.75;
  }
  60% {
    background-position: 30% 10%;
  }
  70% {
    background-position: 0 30%;
  }
  80% {
    background-position: 50% 70%;
  }
  90% {
    background-position: -20% 20%;
  }
}
